	body {
		font-family: verdana, arial, sans-serif;
		margin:0;
		scrollbar-face-color:#f4f4f4;
		scrollbar-highlight-color:#929292;
		scrollbar-3dlight-color: #b0b0b0;
		scrollbar-shadow-color:#929292;
		scrollbar-darkshadow-color: #b0b0b0;
		scrollbar-track-color:#cccccc;
		scrollbar-arrow-color:#929292;
	}

	a {color:#0000ff;text-decoration:none}
	a:link{color:#003399;text-decoration:none}
	a:visited {color:#008000;text-decoration:none}
	a:active{color:#008000;text-decoration:none;}
	a:hover {color:#003399;text-decoration:underline}

	#layout {
		width:780px;
		height:auto;
		text-align:left;
		margin:0 auto 0 auto;
	}

	#header {
		margin:0px 0 0 0;
		border-bottom:1px solid #ccc;
		background:url('bg_head.gif') repeat-x scroll 0 0;
	}

	#header-tab {
		height:50px;
		margin:0px 0 0 0;
	}

	#footer {
		margin:0px 0 0 0;
		padding:5px;
		border-top:1px solid #ccc;
	}

	#normal {
		margin:30px 20 30px 20px;
	}

	#closed {
		background:url('dot_10.gif') repeat-x scroll 0 0;
		height:10px;
		margin:20px 0 20 0;
	}

	#normal {
		margin:0px 0 10px 10px;
	}

	#indent {
		margin:0px 0 10px 30px;
	}

	#itemiz {
		margin:0px 10 5px 20px;
	}

	#images {
		text-align:center;
		margin:0px 0 0px 0px;
	}

	#steps {
		margin:5px 5 5px 5px;
	}

	#mcode {
		font-size: 10px;
		color: #000;
		margin:0px;
	}

	#blanks {
		height: 5px;
	}

	#blanks20 {
		height: 5px;
	}

	#lines {
		margin:20px 0 0px 0px;
		padding:0px 0 10px 0px;
		border-top:1px solid #cccccc;
	}

	#tables {
		text-align:center;
		margin:10px 0 10px 0px;
	}

	.table-head {
		font-size: x-small;
		font-weight: bold;
		text-align:center;
		margin:3px;
	}

	.table-numb {
		text-align:center;
		font-size: x-small;
		color: #fff;
		font-weight: bold;
		margin:1px 0 0 3;
	}

	.table-text {
		font-size: x-small;
		margin:3px;
		letter-spacing:0px;
	}

	.table-note {
		font-size: xx-small;
		margin:0px 0 5px 30px;
		letter-spacing:0px;
	}

	#square {
		text-align:center;
		margin:5px 0 20px 0px;
	}

	.mark-wa {
		font-size: x-small;
		font-weight: bold;
		height: 18px;
		margin:15px 0 0 15px;
		padding:0px;
	}

	.mark-ca {
		font-size: x-small;
		font-weight: bold;
		height: 18px;
		margin:15px 0 0 15px;
		padding:0px;
	}

	.mark-no {
		font-size: x-small;
		font-weight: bold;
		height: 18px;
		margin:15px 0 0 15px;
		padding:0px;
	}

	.mark-im {
		font-size: x-small;
		font-weight: bold;
		height: 18px;
		margin:15px 0 0 15px;
		padding:0px;
	}

	.mark-text {
		font-size: x-small;
		color: #131313;
		line-height: 120%;
		margin:4px 4 4 4px;
	}

	.popups {
		font-size: x-small;
		height: 18px;
		margin:5px 0 10 0px;
		padding:0px 0 0 25px;
		background:url('mark_pu.gif') no-repeat 2px 0;
	}

	.jumper {
		font-size: x-small;
		height: 15px;
		margin:0px 0 0 0px;
		padding:0px 0 0 0px;
	}

	.direct {
		font-family: ÇlÇr ÉSÉVÉbÉN;
		font-size: 11px;
		margin:8px 7 2 10px;
		padding:0px 0 0 8px;
		background:url('bg_link.gif') no-repeat 0 2px;
		letter-spacing:-2px;
	}

	.append {
		font-size: xx-small;
		margin:0px 0 0 0px;
		padding:0px 0 0 10px;
		background:url('link_sub.gif') no-repeat 0 5px;
	}

	.bullet {
		font-size: x-small;
		line-height: 120%;
		margin:5px 5 5px 5px;
		padding:0px 0 0 15px;
		background:url('link_sub.gif') no-repeat 0 5px;
	}

	.relate {
		font-size: xx-small;
		margin:8px 0 8 0px;
		padding:0px 0 5 10px;
		background:url('link_sub.gif') no-repeat 0 3px;
		border-bottom:1px solid #cccccc;
	}

	.topics {
		font-size: xx-small;
		margin:5px 0 5px 0px;
	}

	.product {
		font-size: x-small;
		color: #ffffff;
		margin:10px 10 0 10px;
		letter-spacing:1px;
	}

	.manualtitle {
		font-size: large;
		color: #ffffff;
		margin:10px 10 10 10px;
		letter-spacing:2px;
	}

	.manualtext {
		font-size: xx-small;
		line-height: 120%;
		margin:0px 0 0px 0px;
	}

	.helptitle {
		font-size: large;
		margin:20px 0 10px 0px;
		letter-spacing:2px;
	}

	.helptext {
		font-size: xx-small;
		line-height: 120%;
		margin:0px 0 0px 0px;
	}

	.menu-title {
		font-size: large;
		color: #ffffff;
		margin:10px 10 10px 10px;
		letter-spacing:-1px;
	}

	.menu-text {
		font-size: x-small;
		line-height: 120%;
		margin:15px 0 10px 0px;
	}

	.kind-title {
		font-size: small;
		font-weight: bold;
		margin:5px 0 5px 0px;
	}

	.kind-text {
		font-size: x-small;
		margin:0px 0 0px 0px;
	}

	.chap-title {
		font-size: x-small;
		font-weight: bold;
		margin:2px 0 0px 0px;
	}

	.chap-text {
		font-size: x-small;
		margin:3px 0 5px 0px;
	}

	.chap-link {
		font-size: x-small;
		margin:2px 0 2 0px;
		padding:0px 0 0 10px;
		background:url('bg_link.gif') no-repeat 0 5px;
	}

	.sect-title {
		color:#666666;
		font-size: x-small;
		font-weight: bold;
		margin:2px 0 0px 0px;
	}

	.sect-wabun {
		color:#333333;
		font-size: 14px;
		font-weight: bold;
		margin:2px 0 0px 0px;
	}

	.sect-text {
		color:#4c4c4c;
		font-size: x-small;
		line-height: 130%;
		margin:5px 0 5px 0px;
	}

	.sect-link {
		font-size: x-small;
		margin:8px 0 8 0px;
		padding:0px 0 0 20px;
		background:url('link.gif') no-repeat 0 0;
	}

	.sect-small {
		color:#4c4c4c;
		font-size: xx-small;
		margin:0px 0 0px 0px;
	}

	.head-text {
		font-size: 10px;
		line-height: 100%;
	}

	.head-text a {color:#000000;text-decoration:none}
	.head-text a:link{color:#000000;text-decoration:none}
	.head-text a:visited {color:#000000;text-decoration:none}
	.head-text a:active{color:#000000;text-decoration:none;}
	.head-text a:hover {color:#0000ff;text-decoration:underline}

	.foot-text {
		font-size: 10px;
		line-height: 120%;
		color: #666666;
	}

	.foot-text a {color:#666666;text-decoration:none}
	.foot-text a:link{color:#666666;text-decoration:none}
	.foot-text a:visited {color:#666666;text-decoration:none}
	.foot-text a:active{color:#666666;text-decoration:none;}
	.foot-text a:hover {color:#0000ff;text-decoration:underline}

	.head-a {
		font-size: large;
		font-weight: bold;
		margin:0px 0 20px 0px;
		padding:0px 0 0 10px;
		border-left:15px solid #666;
		letter-spacing:0px;
	}

	.head-b {
		font-size: medium;
		font-weight:bold;
		margin:40px 0 10px 0px;
		padding:0px 0 5 0px;
		border-bottom:1px solid #666;
		letter-spacing:0px;
	}

	.head-c {
		font-size: x-small;
		font-weight: bold;
		margin:30px 0 10px 0px;
		letter-spacing:0px;
	}

	.head-d {
		font-size: x-small;
		font-weight: bold;
		margin:30px 0 20px 0px;
		padding:0px 0 0 10px;
		border-left:15px solid #666;
		letter-spacing:1px;
	}

	.head-e {
		font-size: x-small;
		margin:20px 0 0px 0px;
		padding:0px 0 0 10px;
		border-left:15px solid #666;
		letter-spacing:0px;
	}

	.head {
		font-size: 12px;
		font-weight:bold;
		margin:20px 0 5px 0px;
	}

	.body-text {
		font-size: x-small;
		line-height: 130%;
		margin:0px 15 0px 15px;
	}

	.list-text {
		font-size: x-small;
		margin:2px;
	}

	.smallbody {
		font-size: xx-small;
		line-height: 120%;
		margin:5px 0 5px 0px;
	}

	.link-top {
		font-size: xx-small;
		text-align:center;
		margin:20px 0 20px 0px;
	}

	.toc-chap {
		font-size: 12px;
		font-weight:bold;
		margin:20px 10 5px 10px;
		letter-spacing:1px;
		border-bottom:1px solid #666;
	}

	.toc-kind {
		font-size: 12px;
		font-weight:bold;
		margin:15px 20 5px 20px;
		letter-spacing:1px;
	}

	.toc-sect {
		font-size: 11px;
		margin:8px 20 8px 20px;
		padding:0px 0 0 5px;
		border-left:10px solid #999;
	}

	.extra-head {
		font-size: small;
		font-weight: bold;
		color: #313131;
		padding:10px 10 10 10px;
		margin:0px 0 0px 0px;
		background: #ffffff;
		border-left:10px solid #666;
	}

	.extra-text {
		font-size: x-small;
		line-height: 120%;
		margin:10px 5 10px 5px;
		padding:0px 0 0 15px;
	}

	.extra-foot {
		font-size: x-small;
		line-height: 120%;
		margin:15px 5 8px 5px;
		padding:0px 0 0 15px;
	}

	.extra-link {
		font-size: x-small;
		line-height: 120%;
		margin:5px 20 5px 20px;
		padding:0px 0 0 15px;
		background:url('link_sub.gif') no-repeat 0 3px;
	}

	.result-text {
		font-size: 12px;
		font-weight:bold;
		margin:20px 10 5px 10px;
		letter-spacing:1px;
		border-bottom:1px solid #666;
	}

	.result-link {
		font-size: 11px;
		margin:8px 20 8px 20px;
		padding:0px 0 0 5px;
		border-left:10px solid #999;
	}

	.gloss-read {
		font-size: x-small;
		margin:10px 10 5px 10px;
		letter-spacing:1px;
	}

	.gloss-head {
		font-size: medium;
		font-weight:bold;
		margin:40px 10 10px 10px;
		padding:0px 0 5 0px;
		border-bottom:1px solid #666;
		letter-spacing:0px;
	}

	.gloss-term {
		font-size: x-small;
		font-weight:bold;
		margin:20px 10 5px 10px;
		letter-spacing:1px;
	}

	.gloss-text {
		font-size: x-small;
		margin:10px 10 5px 30px;
		letter-spacing:1px;
	}

	.term-head {
		font-size: 12px;
		font-weight:bold;
		margin:20px 10 5px 10px;
		letter-spacing:1px;
		border-bottom:1px solid #666;
	}

	.term-text {
		font-size: 12px;
		font-weight:bold;
		margin:10px 20 5px 20px;
		letter-spacing:1px;
	}

	.term-link {
		font-size: 11px;
		margin:8px 20 8px 20px;
		padding:0px 0 0 5px;
		border-left:10px solid #999;
	}

	.tab {
		font-size: 11px;
		font-weight: bold;
		margin:2px 0 0px 0px;
	}

	.tab a {color:#666666;text-decoration:none}
	.tab a:link{color:#666666;text-decoration:none}
	.tab a:visited {color:#666666;text-decoration:none}
	.tab a:active{color:#666666;text-decoration:none;}
	.tab a:hover {color:#0000ff;text-decoration:underline}

	.lcd {
		font-size: x-small;
		font-style: italic;
		padding:0px 5 0px 5px;
		border:1px solid #666;
	}

	.tip {
		font-size: x-small;
		font-weight: bold;
		height: 18px;
		margin:30px 0 10px 0px;
		padding:0px 0 10 25px;
		background:url('mark_tr.gif') no-repeat 0 0;
	}

	.step-text {
		font-size: x-small;
		line-height: 120%;
		margin:0px 5 0px 5px;
